<header>
    <div class="container">
      <nav class="navbar">
        <a href="index.html" class="logo">Paw<span>Paradise</span></a>
        <!-- Hamburger Menu -->
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- Navigation Links -->
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">Shop</a></li>
          <li><a href="articles.html">Articles</a></li>
          <li><a href="history.html">History</a></li>
          <li><a href="cart.html" class="cart-icon"><i class="fas fa-shopping-cart"></i></li>
          <li><a href="admin/login.html" class="btn btn-secondary login-btn"><i class="fas fa-user"></i> Login</a></li>
        </ul>
      </nav>
    </div>
  </header>